<!DOCTYPE html>
<html>
<head>
  <title>RinTinTin</title>
  <%= stylesheet_link_tag    "rin_tin_tin/application", :media => "all" %>
  <%= javascript_include_tag "rin_tin_tin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
